<%= partial("command") %>

<h1>Plugin List</h1>

<table class="plugin-list" cellspacing="1" border="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Repos</th>
      <th>Registered by</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @plugins.each_with_index do |plugin,i| %>
    <tr class="<%= "even" if i%2==0 %>">
      <td><%= link_to h(plugin.signature), resource(plugin) %></td>
      <td><%= "&dagger;" unless plugin.repos.blank? %></td>
      <td><%= link_to h(plugin.user.login), resource(plugin.user) %></td>
      <td><%= h(plugin.description) %></td>
      <td>
      <% if plugin.error %>
        <span class="problem">
          (has problem)
        </span>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @plugins %>

<div class="footnote">
  &dagger; You can install these gems by
  <code>
    gem install gem-name --source http://merbi.st
  </code>
</div>

<% throw_content :for_head do %>
  <%=
  tag :link, nil, :rel => :alternate,
    :type => "application/rss+xml", :title => "Atom",
    :href => resource(:plugins, :format => :atom)
  %>
<% end %>
