<%= partial("command") %>

<h1>Plugin List</h1>

<ul>
  <% @plugins.each do |plugin| %>
    <li>
      <%= link_to h(plugin.signature), resource(plugin) %>
      <% unless plugin.repos.blank? %>
        &dagger;
      <% end %>
      (<%= link_to h(plugin.user.login), resource(plugin.user) %>)
      <% if plugin.error %>
        <span class="problem">
          (has problem)
        </span>
      <% end %>
      <%= h(plugin.description) %>
    </li>
  <% end %>
</ul>

<%= paginate @plugins %>

<div class="footnote">
  &dagger; You can install these gems by
  <code>
    gem install gem-name --source http://merbi.st
  </code>
</div>

<% throw_content :for_head do %>
  <%=
  tag :link, nil, :rel => :alternate,
    :type => "application/rss+xml", :title => "Atom",
    :href => resource(:plugins, :format => :atom)
  %>
<% end %>
