<%= partial("command") %>

<h1>
  <%= link_to @plugin.signature, resource(@plugin) %>
</h1>

<dl>
  <dt>Description</dt>
  <dd>
    <%= h @plugin.description %>
  </dd>
  <dt>Home Page</dt>
  <dd>
    <%= link_to @plugin.home, @plugin.home %>
  </dd>
  <dt>Registered by</dt>
  <dd>
    <%= link_to @plugin.user.login, resource(@plugin.user) %>
  </dd>
  <% unless @plugin.repos.blank? %>
    <dt>
      Repository
    </dt>
    <dd>
      <%= h(@plugin.repos) %>
    </dd>
  <% end %>
  <% if @plugin.error %>
    <dt class="problem">
      Problem
    </dt>
    <dd class="problem">
      <%= h(@plugin.error) %>
    </dd>
  <% elsif !@plugin.repos.blank? %>
    <dt>
      Install
    </dt>
    <dd>
      You can install this gem by <br />
      <code>
        gem install <%= h(@plugin.gemname) %> --source http://merbi.st
      </code>
    </dd>
  <% end %>
</dl>

<% if @plugin.readme %>
<div class="readme">
  <pre><code><%= h(@plugin.readme) %></code></pre>
</div>
<% end %>
