<%= partial("command") %>

<h1>
  <%= link_to @plugin.name, resource(@plugin) %>
</h1>

<dl>
  <dt>Description</dt>
  <dd>
    <%= h @plugin.description %>
  </dd>
  <dt>Home Page</dt>
  <dd>
    <%= link_to @plugin.home, @plugin.home %>
  </dd>
  <dt>Registered by</dt>
  <dd>
    <%= link_to @plugin.user.login, resource(@plugin.user) %>
  </dd>
</dl>
