<%= partial :command %>

<h1>Edit <%= @user.login %></h1>

<%= form_for @user, :action => resource(@user), :method => :put do %>
  <dl>
    <dt>
      <%= label "Email", :for => :email %>
    </dt>
    <dd>
      <%= h(@user.email) %>
    </dd>
    <% if session.user.admin? %>
      <dt>
        <%= label "Admin", :for => :admin %>
      </dt>
      <dd>
        <%= check_box :admin %>
      </dd>
    <% end %>
    <dt>Are you sure?</dt>
    <dd>
      <%= submit "Submit" %>
    </dd>
  </dl>
<% end =%>
