<% if session.user == @user || (session.user && session.user.admin?) %>
  <%= partial :command %>
<% end %>

<h1>
  About
  <%= @user.login %>
</h1>

<dl>
  <dt>Activated at</dt>
  <dd>  
    <%= @user.activated_at %>
  </dd>
  <dt>Registered Plugins</dt>
  <dd>
    <%= @user.plugins.count %>
  </dd>
  <% if session.user && session.user.admin? %>
    <dt>Admin?</dt>
    <dd>
      <%= @user.admin %>
    </dd>
  <% end %>
</dl>
