<div id="footer">
  2008 
  <%= link_to 'maiha', 'http://wota.jp/ac/' %>,
  <%= link_to 'shachi', 'http://d.jong.gr.jp/shachi' %>
  and
  <%= link_to 'genki', 'http://blog.s21g.com/genki' %>
  (<%= link_to 's21g LLC', 'http://www.s21g.com/' %>).
  <span class="powered-by">
    Powered by
    Merb-<%= Merb::VERSION %>
    (Ruby-<%= RUBY_VERSION %>)
  </span>
</div>
